html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  /* your properties here */
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  /* grid-template: repeat(4, 1fr) / repeat(3, 1fr) #does same as above */
  grid-gap: 5px
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */

/*
.bigItem {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
*/

/* same as above */
/*
.bigItem {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
}
*/

/* also same as above */

.bigItem {
  grid-area: 2 / 2 / 4 / 4;
  height: 50%;
  width: 50%;
  justify-self: center; /* horizontally centered */
  align-self: center; /* vertically centered */
}
